* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 2240px;
    height: auto;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style-type: none;
}
html,body{
    height: 100%;
}