.contacts {
    width: 100%;
    height: auto;
    padding: 60px 100px 20px 100px;
    @media(max-width: 1400px){
        padding: 60px 50px 20px 50px;
    }
    @media(max-width: 930px){
        padding: 60px 20px 20px 20px;
    }
    &__title {
        font-family: "Bebas Neue Book", sans-serif;
        font-weight: 900;
        font-size: 120px;
        color: white;
        text-transform: uppercase;
        line-height: normal;
        @media (max-width: 1350px) {
            font-size: 90px;
        }
        @media (max-width: 768px) {
            font-size: 50px;
        }
    }
    &__wrapper {
        display: flex;
        gap: 200px;
        @media (max-width: 850px) {
            flex-direction: column;
            gap: 40px;
            align-items: center;
        }
    }
    &__form {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        @media (max-width: 850px) {
            width: 100%;
        }
        &__title {
            width: 100%;
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            color: white;
            font-size: 26px;
            line-height: normal;
            @media (max-width: 1350px) {
                font-size: 16px;
            }
        }
    }
    &__info {
        width: 50%;
        @media (max-width: 850px) {
            width: 100%;
        }
        &__title {
            margin-bottom: 60px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 26px;
            color: white;
            line-height: 29px;
            @media (max-width: 1350px) {
                font-size: 16px;
            }
        }
        &__franchise {
            div {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 40px;
                img {
                    display: block;
                    width: 20px;
                    height: 20px;
                }
                a {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 36px;
                    color: white;
                    line-height: normal;
                    @media(max-width: 1350px){
                        font-size: 28px;
                    }
                    @media(max-width: 450px){
                        font-size: 18px;
                    }
                }
            }
        }
        &__franchise-txt {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #980505;
            line-height: normal;
        }
        &_mailto {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 40px;
            img {
                display: block;
                width: 20px;
                height: 20px;
            }
            a {
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 36px;
                color: rgb(168, 166, 166);
                line-height: normal;
                @media(max-width: 1350px){
                    font-size: 28px;
                }
                @media(max-width: 450px){
                    font-size: 18px;
                }
            }
        }
        &_abgroup {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 40px;
            img {
                display: block;
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
            a {
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 36px;
                color: white;
                line-height: normal;
                @media(max-width: 1350px){
                    font-size: 28px;
                }
                @media(max-width: 450px){
                    font-size: 18px;
                }
            }
            &-txt {
                margin-top: 40px;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #980505;
                line-height: normal;
            }
        }
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 50px;
        padding: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 17px;
        color: white;
        text-transform: uppercase;
        background-color: #980505;
        cursor: pointer;

        border: none;
        border-radius: 20px;
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.form__input-name {
    position: relative;
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 2px solid #d40000;
    padding: 50px 10px 5px 5px;
    outline: none;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 16px;
    &::placeholder {
        position: absolute;
        bottom: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: grey;
    }
}
.form__input-textare {
    position: relative;
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 2px solid #d40000;
    padding: 60px 10px 5px 5px;
    outline: none;
    background: transparent;
    resize: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 16px;
    &::placeholder {
        position: absolute;
        bottom: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: grey;
    }
}
