.footer {
    width: 100%;
    height: auto;
    padding: 40px 100px 20px 100px;
    background-color: black;
    @media (max-width: 1400px) {
        padding: 40px 50px 20px 50px;
    }
    @media (max-width: 930px) {
        padding: 40px 20px 20px 20px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1250px) {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__menu {
        width: 33.3%;
        display: flex;
        gap: 200px;
        @media (max-width: 1870px) {
            /*  width: auto;
            flex-direction: column;
            align-items: center; */
            gap: 20px;
        }
        @media (max-width: 1250px) {
            width: auto;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        &_link {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: normal;
            text-transform: uppercase;
            color: #d40000;
        }
        &:nth-child(1) {
            @media (max-width: 1250px) {
                order: 2;
            }
        }
    }
    &__link {
        display: block;
        margin-top: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        text-transform: uppercase;
        color: #c1bdbdcd;
    }
    &__logo {
        width: 33.3%;
        display: flex;
        justify-content: center;

        img {
            display: block;
            width: 136px;
            height: 116px;
            object-fit: cover;
        }
    }

    .right {
        justify-content: flex-end;
    }
}
