.main__bg {
    width: 100%;
    height: auto;
    background-image: url("images/global-bg.webp");
    background-repeat: no-repeat;
    background-position:top -755px center;
    background-size: cover;
    background-color: black;
}
