.main {
    position: relative;
    width: 100%;
    height: 950px;
    height: 100vh;
    background-image: url("images/banner-bg-min.webp");
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    object-fit: contain;
    @media (max-width: 830px){
        height: 589px;
    }
    &__content {
        position: absolute;
        bottom: 40px;
        left: 20px;
        h1 {
            font-family: "Bebas Neue" sans-serif;
            color: white;
            font-size: 75px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 40px;
            @media (max-width: 1200px) {
                font-size: 60px;
                padding-bottom: 30px;
            }
            @media (max-width: 750px) {
                font-size: 40px;
                padding-bottom: 10px;
            }
        }
        &_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #980505;
            border: none;
            border-radius: 50px;
            width: 350px;
            height: 50px;
            color: white;
            font-size: 20px;
            font-weight: 700;
            font-family: "Montserrat" sans-serif;
            text-transform: uppercase;
            &:hover{
               transform: scale(0.9);
            }
            @media (max-width: 520px) {
                font-size: 16px;
                width: 250px;
            }
        }
    }
}
