.restaurant {
    width: 100%;
    height: auto;
    padding: 20px 100px;
    @media (max-width: 1400px) {
        padding: 20px 50px;
    }
    @media (max-width: 930px) {
        padding: 20px 20px;
    }
    &__title {
        margin-bottom: 40px;
        font-family: "Bebas Neue Book" sans-serif;
        font-size: 52px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        line-height: normal;
        letter-spacing: normal;
        padding-left: 198px;
        @media (max-width: 1655px) {
            padding-left: 149px;
        }
        @media (max-width: 1610px) {
            padding-left: 186px;
        }
        @media (max-width: 1520px) {
            padding-left: 248px;
        }
        @media (max-width: 1137px) {
            padding-left: 146px;
        }
        @media (max-width: 375px) {
            font-size: 32px;
        }
        @media (max-width: 875px) {
            padding-left: 158px;
        }
        @media (max-width: 770px) {
            padding-left: 0;
        }
        @media (max-width: 600px) {
            font-size: 42px;
        }
        @media (max-width: 481px) {
            max-width: 290px;
        }
    }

    &__wrapper {
        width: 100%;
        /* border: 1px solid yellow; */
        padding: 20px;
    }

    &__cards {
        /* max-width: 1540px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 60px;
        margin: 0 auto;
    }
    &__card {
        width: 100%;
        max-width: 400px;
        height: 200px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;
        @media (max-width: 1854px) {
            width: 383px;
        }
        @media (max-width: 1786px) {
            width: 374px;
        }
        @media (max-width: 1750px) {
            width: 363px;
        }
        @media (max-width: 1706px) {
            width: 347px;
        }
        @media (max-width: 1668px) {
            width: 339px;
        }

        @media (max-width: 1610px) {
            width: 322px;
        }
        @media (max-width: 1542px) {
            width: 306px;
        }
        @media (max-width: 1520px) {
            width: 254px;
        }
        @media (max-width: 1455px) {
            width: 241px;
        }
        @media (max-width: 1400px) {
            width: 270px;
        }
        @media (max-width: 1274px) {
            width: 305px;
        }
        @media (max-width: 1069px) {
            width: 282px;
        }
        /* @media (max-width: 994px) {
            width: 268px;
        } */

        &:after {
            content: "";
            display: block;
            width: 335px;
            height: 2px;
            background-color: #d60000;
            position: absolute;
            right: -165px;
            top: 30px;
            @media (max-width: 1706px) {
                /* width: 270px; */
                right: -175px;
            }
            @media (max-width: 1668px) {
                width: 320px;
            }
            @media (max-width: 1542px) {
                width: 300px;
            }
            @media (max-width: 1520px) {
                width: 270px;
                right: -159px;
            }
            @media (max-width: 1455px) {
                width: 260px;
                right: -150px;
            }
            @media (max-width: 1274px) {
                width: 290px;
                right: -150px;
            }
            @media (max-width: 1069px) {
                width: 280px;
                right: -150px;
            }
        }
        &:nth-child(4) {
            &:after {
                display: none;
            }
        }
        &:nth-child(8) {
            &:after {
                display: none;
            }
        }

        /*  @media (min-width: 1615px) {
            &:nth-child(4) {
                &:after {
                    display: none;
                }
            }
            &:nth-child(8) {
                &:after {
                    display: none;
                }
            }
        } */

        @media (max-width: 1274px) {
            &:nth-child(3) {
                &:after {
                    display: none;
                }
            }
            &:nth-child(4) {
                &:after {
                    display: block;
                }
            }
            &:nth-child(6) {
                &:after {
                    display: none;
                }
            }
        }
        @media (max-width: 995px) {
            &:nth-child(2) {
                &:after {
                    display: block;
                }
            }
            &:nth-child(3) {
                &:after {
                    display: none;
                }
            }
            &:nth-child(4) {
                &:after {
                    display: block;
                }
            }
        }
        @media (max-width: 1000px) {
            &:nth-child(2) {
                &:after {
                    display: none;
                }
            }
            &:nth-child(3) {
                &:after {
                    display: block;
                }
            }
            &:nth-child(4) {
                &:after {
                    display: none;
                }
            }
        }
        @media (max-width: 875px) {
            width: 391px;
            border: 1px solid red;
            padding: 5px;
            border-radius: 20px;
            &:after {
                display: block !important;
                width: 61px;
                top: 228px;
                left: 42%;
                transform: rotate(90deg);
            }
        }
        &:nth-child(8) {
            &:after {
                display: none !important;
            }
        }
        &_circle {
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #d60000;
            /*   display: flex;
            justify-content: center;
            align-items: center; */

            font-family: "Bebas Neue Book" sans-serif;
            font-size: 60px;
            font-weight: 600;
            line-height: normal;
            color: white;
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &_txt {
            width: 208px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            line-height: normal;
            font-size: 20px;
            color: white;
            margin-left: 138px;
            @media (max-width: 875px) {
                text-align: center;
                margin-left: 0;
            }
        }
    }
}
