.subdescr {
    width: 100%;
    height: auto;
    padding: 80px 20px 100px 20px;
    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__cards {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
        margin-bottom: 40px;
        @media (max-width: 1352px) {
            justify-content: start;
        }
       
        &:nth-child(1) {
            
            
            .subdescr__card_title {
                margin-bottom: 20px;
                font-size: 37px;
                @media(max-width: 1620px){
                    font-size: 30px;
                }
                @media(max-width: 1452px){
                    font-size: 25px;
                }
            }
            
            .subdescr__card_body-pref {
                font-size: 90px;
                @media(max-width: 1620px){
                    font-size: 50px;
                }
                @media(max-width: 1452px){
                    font-size: 50px;
                }
            }
            .subdescr__card_body-cont {
                font-size: 160px;
                @media(max-width: 1620px){
                    font-size: 140px;
                }
                @media(max-width: 1452px){
                    font-size: 150px;
                }
            }
            
        }
    }
    &__card {
        width: max-content;
        height: auto;
        min-height: 170px;
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
        text-align: right;
        @media (max-width: 1352px) {
            width: 100%;
            max-width: 300px;
            border-left: 2px solid red;
        }
    }
    &__card_title {
        margin-bottom: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-transform: uppercase;
        color: white;
        @media (max-width: 1626px) {
            font-size: 29px;
        }
        @media (max-width: 1620px) {
            font-size: 23px;
        }
        @media (max-width: 1452px) {
            font-size: 20px;
        }
        @media (max-width: 1054px) {
            font-size: 18px;
        }
    }
    &__card_body {
        height: auto;
        &-pref {
            margin-right: 15px;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 700;
            font-size: 70px;
            color: white;
            @media (max-width: 1620px) {
                font-size: 56px;
            }
            @media (max-width: 1452px) {
                font-size: 46px;
            }
            @media (max-width: 1054px) {
                font-size: 56px;
            }
        }
        &-cont {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 700;
            font-size: 130px;
            color: white;
            line-height: 100px;
            @media (max-width: 1620px) {
                font-size: 110px;
            }
            @media (max-width: 1452px) {
                font-size: 90px;
            }
            @media (max-width: 1054px) {
                font-size: 116px;
            }
        }
        &-val {
            font-family: "Montserrat";
            font-style: italic;
            font-weight: 600;
            font-size: 18px;
            color: white;
        }
    }
    .mx-w-smol {
        max-width: 200px;
    }
    .tac {
        text-align: left;
        @media (max-width: 1054px) {
            text-align: right;
        }
    }
    .border {
        border-left: 2px solid red;
    }
}
